snippet misc "Miscellaneous reference" b
@misc{${1:name},
	author={${2:author}},
	title={${3:title}},
	howpublished={${4:howpublished}},
	month={${5:MM}},
	year={${6:YYYY}},
	note={${7:note}},
	annote={${8:annote}},
	url={${9:url}},
}
$0
endsnippet